// Variables
$blue: #009dde;

@import 'header';
@import 'hero';
@import 'courses';
@import 'about';
@import 'get-in-touch';
@import 'footer';
@import 'mobile-styles';
@import 'admin-panel';

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1000px;
  margin: auto;
}

h2 {
  margin: 0 auto 8px;
  padding: 0 0 40px;
  text-align: center;    
  font-size: 40px;
  font-weight: 500;
}

@media(max-width: 1024px) {
  .container {
    width: 90%;
  }
}